# NodeJS
node_modules/

# Artifacts created by PWA vite plugin 
dev-dist/

# Svelte compiler build output
dist/

# Production tooling and configurations
docker-compose.prod.yml
20-custom-couch-conf.ini
services/user-creation/
