:root {
    /* Avoiding setting color directly in component css, instead use classes */

    /* Primary color and darker focus color */
    --primary-color: hsl(138.86 15.982% 42.941%);
    --primary-focus-color: hsl(138.86 15.982% 34.353%);
    --primary-content-color: hsl(138.86 100% 88.588%);

    /* Secondary color */
    --secondary-color: hsl(96.923 37.143% 93.137%);
    --secondary-focus-color: hsl(96.923 37.143% 74.51%);
    --secondary-content-color: hsl(996 32.468% 15.098%);

    /* Accent color  */
    --accent-color: hsl(0 67.742% 93.922%);
    --accent-focus-color: hsl(0 67.742% 75.137%);
    --accent-content-color: hsl(0 21.951% 16.078%);

    /* Neutral color */
    --neutral-color: hsl(0 3.9106% 35.098%);
    --neutral-focus-color: hsl(0 3.9106% 28.078%);
    --neutral-content-color: hsl(0 4.3478% 90.98%);

    /* Base colors */
    --base-100-color: hsl(0 4.3478% 90.98%);
    --base-200-color: hsl(0 4.3478% 81.882%);
    --base-300-color: hsl(0 4.3478% 73.694%);

    /* Special colors */
    --info-color: hsl(198 93% 60%);
    --info-content-color: hsl(198 100% 12%);
    --success-color: hsl(158 64% 52%);
    --success-content-color: hsl(158 100% 10%);
    --warning-color: hsl(43 96% 56%);
    --warning-content-color: hsl(43 100% 11%);
    --error: hsl(0 91% 71%);
    --error-content-color: hsl(0 100% 14%);
}


.bg-primary {
    background-color: var(--primary-color);
    color: var(--primary-content-color);
}

.bg-primary:focus {
    background-color: var(--primary-focus-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
    color: var(--secondary-content-color);
}

.bg-secondary:focus {
    background-color: var(--secondary-focus-color);
}

.bg-accent {
    background-color: var(--accent-color);
    color: var(--accent-content-color);
}

.bg-accent:focus {
    background-color: var(--accent-focus-color);
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /* Remove default browser margins */
    margin: 0;

    /* Add Noto font */
    font-family: 'Noto Sans JP', sans-serif;

    /* Set background color */
    background-color: var(--base-100-color);

    height: 100%;
}

#app {
    height: 100%;
}

/* square brutalist buttons */
button {
    color: black;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    background: transparent;
}

/* distort text on button click */
button:active {
    transform: scale(0.95);
}

/* button hover avocado green */
button:hover {
    border-color: var(--primary-focus-color);
}

/* Disable hover on mobile devices */
@media (hover: none) {
    button:hover {
       color: inherit;
    }
}

/* square text input with solid border */
input[type=text] {
    background: transparent;
    border: 2px solid var(--primary-color);
    outline: none;
}

input[type=text]:focus {
    border-color: var(--primary-focus-color);
}

select {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

select:hover {
    background-color: var(--primary-focus-color);
}

 /* button with no borders and simple hover */
 .borderless-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
  }

  .borderless-button:hover {
    background: var(--primary-focus-color);
  }

  .center {
    max-width: 800px;
    margin: 0 auto;
  }