/* Avoiding setting color directly in component css, instead use classes */
:root {
    --primary: hsl(138.86 15.982% 42.941%);
    --primary-100: hsl(138.86 15.982% 52.941%);
    --secondary: hsl(96.923 37.143% 93.137%);
    --accent: hsl(0 67.742% 93.922%);
    --neutral: hsl(0 3.9106% 35.098%);
    --base-100: hsl(0 4.3478% 90.98%);
    --base-200: hsl(0 4.3478% 80.98%);
    --base-300: hsl(0 4.3478% 70.98%);
    --info: hsl(198 93% 60%);
    --success: hsl(158 100% 10%);
    --warning: hsl(43 100% 11%);
    --error: #000000;
}


.bg-primary {
    background-color: var(--primary);
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* remove default browser margins */
    margin: 0;

    /* Add Noto font */
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--base-100);


}

/* square brutalist buttons */
button {
    border-radius: 0;
    background: white;
    color: black;
    cursor: pointer;
    border: 2px solid black;
}

/* distort text on button click */
button:active {
    transform: scale(0.95);
}

/* button hover avocado green */
button:hover {
    border-color: var(--maximum-green);
}

/* square text input with solid border */
input[type=text] {
    border-radius: 0;
    background: white;
    color: black;
    border: 2px solid black;
    outline: none;
}

input[type=text]:focus {
    border-color: var(--maximum-green);
}

select {
    border-radius: 0;
    background: white;
    color: black;
    border: 2px solid black;
    outline: none;
}